* {
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 800px;
    border: 1px solid;
}

.d-flex {
    display: flex;
}

.bg_red {
    background: red;
}

.bg_blue {
    background: blue;
}

.bg_green {
    background: green;
}

.bg_purple {
    background: purple;
}

.left {
    align-self: flex-start;
    width: 200px;
    height: 200px;
}

.right {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom {
    flex-basis: 600px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;

}

.right_bottom {
    width: 200px;
    height: 200px;
}